<a href="https://colab.research.google.com/github/jjim318/Python25Study/blob/master/%EC%9E%90%EB%A3%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 숫자형
# number 타입: 정수

a=123

In [10]:
#문자열
#큰 따옴표, 작은 따옴표, 큰따옴표 연속 3개로 둘러싸기, 작은따옴표 연속 3개로 둘러싸기
#같은 따옴표는 겹치면 안 됨

food = "Python's favorite food is perl"
say = '"Python is very easy." he says.'

#역슬래시를 사용하면 그 뒤에 따라오는 문자열은 기호의 의미가 아니게 됨

food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."
print(food,say)

Python's favorite food is perl "Python is very easy." he says.

In [9]:
#줄을 바꾸기 위해 이스케이프 코드 사용
multiline = "Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

코드	설명
---
\n	문자열 안에서 줄을 바꿀 때 사용
---
\t	문자열 사이에 탭 간격을 줄 때 사용
---
\\	\를 그대로 표현할 때 사용
---
\\'	작은따옴표(')를 그대로 표현할 때 사용
---
\\"	큰따옴표(")를 그대로 표현할 때 사용
---
\r	캐리지 리턴(줄 바꿈 문자, 커서를 현재 줄의 가장 앞으로 이동)
---
\f	폼 피드(줄 바꿈 문자, 커서를 현재 줄의 다음 줄로 이동)
---
\a	벨 소리(출력할 때 PC 스피커에서 '삑' 소리가 난다)
---
\b	백 스페이스
---
\000	널 문자
---

In [8]:
#연속된 작은따옴표 3개는 줄 바꿀 수 있음
multiline='''
Life is too short
You need python
'''
print(multiline)

Life is too short
You need python

In [11]:
#연속된 큰따옴표 3개는 줄 바꿀 수 있음
multiline="""
Life is too short
You need python
"""
print(multiline)

Life is too short
You need python

In [12]:
#문자열 연산
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

In [13]:
#문자열 곱하기
a = "python"
a * 2

'pythonpython'

In [14]:
#문자열 곱하기 응용
print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

In [15]:
#문자열 길이 구하기
#문자열의 길이에는 공백 문자도 포함
a = "Life is too short"
len(a)

17

In [21]:
#문자열 인덱싱
#인덱싱(indexing)이란 무엇인가를 '가리킨다'라는 의미
a = "Life is too short, You need Python"
a[3]

'e'

In [20]:
#추가 예시
a = "Life is too short, You need Python"
a[-1]
#a[-1]은 뒤에서부터 세어 첫 번째가 되는 문자를 말함
#a[-0]라고 하지 않는 이유는 0과 -0은 똑같은 것이기 때문

'n'

In [19]:
#문자열 슬라이싱
#슬라이싱(slicing)은 무엇인가를 '잘라 낸다'라는 의미
a = "Life is too short, You need Python"
b = a[0] + a[1] + a[2] + a[3]
b

'Life'

In [22]:
a = "Life is too short, You need Python"
a[0:4]
#문자열에서 자리 번호 0부터 4까지의 문자를 뽑아 낸다는 뜻

'Life'

In [24]:
a = "Life is too short, You need Python"
a[0:3]
#슬라이싱 기법으로 a[시작_번호:끝_번호]를 지정할 때
#끝 번호에 해당하는 문자는 포함하지 않기 때문
#a[0:3]을 수식으로 나타내면
# 0 <= a < 3

'Lif'

a[시작_번호:끝_번호]에서 끝 번호 부분을 생략하면 시작 번호부터 그 문자열의 끝까지 뽑아 냄
---
a[시작_번호:끝_번호]에서 시작 번호를 생략하면 문자열의 처음부터 끝 번호까지 뽑아 냄
---
a[시작_번호:끝_번호]에서 시작 번호와 끝 번호를 생략하면 문자열의 처음부터 끝까지 뽑아 냄
---
슬라이싱에서도 인덱싱과 마찬가지로 -(빼기) 기호를 사용할 수 있음
---

In [25]:
a = "Life is too short, You need Python"
a[19:-7]
#a[19:-7]은 a[19]에서 a[-8]까지를 의미한다. 이때에도 a[-7]은 포함하지 않음

'You need'

In [28]:
a = "20230331Rainy"
date = a[:8]
weather = a[8:]
print(date)
print(weather)

20230331
Rainy

문자열은 병경 불가능한 자료형
---
하지만 앞에서 배운 슬라이싱 기법을 사용하면 Pithon 문자열을 사용해 Python 문자열을 만들 수 있음

a = "Pithon"

a[:1]

'P'

a[2:]

'thon'

a[:1] + 'y' + a[2:]

'Python'

슬라이싱을 사용하면 "Pithon" 문자열을 'P' 부분과 'thon' 부분으로 나눌 수 있고, 그 사이에 'y' 문자를 추가하면 'Python'이라는 새로운 문자열을 만들 수 있음

In [29]:
#문자열 포매팅
#쉽게 말해 문자열 포매팅이란 문자열 안에 어떤 값을 삽입하는 방법

#1. 숫자 바로 대입
"I eat %d apples." % 3
# %d는 '문자열 포맷 코드'

'I eat 3 apples.'

In [30]:
#2. 문자열 바로 대입
"I eat %s apples." % "five"
# %d, 문자열을 넣기 위해서는 %s를 써야 한다

'I eat five apples.'

In [31]:
#3. 숫자 값을 나타내는 변수로 대입
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

In [32]:
#4. 2개 이상의 값 넣기
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

문자열 포맷 코드
---
코드	설명
---
%s	문자열(String)

** 어떤 형태의 값이든 변환해 넣을 수 있다.

%c	문자 1개(character)

%d	정수(Integer)

%f	부동소수(floating-point)

%o	8진수

%x	16진수

%%	Literal % (문자 % 자체)

In [34]:
#포맷 코드와 숫자 함께 사용

#1. 정렬과 공백
"%10s" % "hi"

#%10s는 전체 길이가 10개인 문자열 공간에서 대입되는 값을 오른쪽으로 정렬하고
#그 앞의 나머지는 공백으로 남겨 두라는 의미
#반대는 -를 붙힘
"%-10sjane." % 'hi'

'hi        jane.'

In [ ]:
#2. 소수점 표현하기
"%0.4f" % 3.42134234

#%0.4f에서 '.'는 소수점 포인트, 그 뒤의 숫자 4는 소수점 뒤에 나올 숫자의 개수
#소수점 포인트 앞의 숫자는 문자열의 전체 길이를 의미
#%0.4f에서 사용한 숫자 0은 길이에 상관하지 않겠다는 의미

In [35]:
#format 함수를 사용한 포매팅
#숫자 바로 대입
"I eat {0} apples".format(3)

'I eat 3 apples'

In [36]:
#문자열 바로 대입
"I eat {0} apples".format("five")

'I eat five apples'

In [37]:
#숫자 값을 가진 변수로 대입
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [39]:
#2개 이상의 값 넣기
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [40]:
#이름으로 넣기
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [41]:
#인덱스와 이름을 혼용해서 넣기
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [42]:
#왼쪽 정렬
"{0:<10}".format("hi")

'hi        '

In [43]:
#오른쪽 정렬
"{0:>10}".format("hi")

'        hi'

In [44]:
#가운데 정렬
"{0:^10}".format("hi")

'    hi    '

In [45]:
#공백 채우기
"{0:=^10}".format("hi")

'====hi===='

In [48]:
#소수점 표현하기
y = 3.42134234
"{0:0.4f}".format(y)
#"{0:10.4f}".format(y)
#이 방식도 있음

'3.4213'

In [47]:
#{ 또는 } 문자 표현
"{{ and }}".format()

'{ and }'

In [50]:
#f 문자열 포매팅
#파이썬 3.6 미만 버전에서는 사용할 수 없는 기능이므로 주의
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'
'나의 이름은 홍길동입니다. 나이는 30입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [51]:
#표현식이란 중괄호 안의 변수를 계산식과 함께 사용하는 것을 말한다.
age = 30
f'나는 내년이면 {age + 1}살이 된다.'
'나는 내년이면 31살이 된다.'

'나는 내년이면 31살이 된다.'

In [52]:
#딕셔너리는 f 문자열 포매팅에서 다음과 같이 사용할 수 있다.
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'
'나의 이름은 홍길동입니다. 나이는 30입니다.'

#딕셔너리는 Key와 Value라는 것을 한 쌍으로 가지는 자료형

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [53]:
#f 문자열을 사용하여 금액에 콤마(,) 삽입하기
# f 문자열을 활용하면 숫자에 자동으로 콤마(,)를 삽입하여 가독성을 높일 수 있다.
f"난 {1500000:,}원이 필요해"

'난 1,500,000원이 필요해'

In [54]:
#문자 개수 세기 - count
a = "hobby"
a.count('b')

2

In [55]:
#위치 알려 주기 1 - find
a = "Python is the best choice"
a.find('b')

# 만약 찾는 문자나 문자열이 존재하지 않는다면 -1을 반환

14

In [56]:
#위치 알려 주기 2 - index
a = "Life is too short"
a.index('t')

#만약 찾는 문자나 문자열이 존재하지 않는다면 오류가 발생한다.
#앞의 find 함수와 다른 점은 문자열 안에 존재하지 않는 문자를 찾으면 오류가 발생한다는 것

8

In [57]:
#문자열 삽입 - join
",".join('abcd')

'a,b,c,d'

In [58]:
#소문자를 대문자로 바꾸기 - upper
a = "hi"
a.upper()

'HI'

In [59]:
#대문자를 소문자로 바꾸기 - lower
a = "HI"
a.lower()

'hi'

In [60]:
#왼쪽 공백 지우기 - lstrip
a = " hi "
a.lstrip()

'hi '

In [61]:
#오른쪽 공백 지우기 - rstrip
a = " hi "
a.rstrip()

' hi'

In [62]:
#양쪽 공백 지우기 - strip
a = " hi "
a.strip()

'hi'

In [63]:
#문자열 바꾸기 - replace
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [64]:
#문자열 나누기 - split
a = "Life is too short"
a.split()

#split 함수는 a.split()처럼 괄호 안에 아무 값도 넣어 주지 않으면
#공백([Space], [Tab], [Enter])을 기준으로 문자열을 나누어 준다

['Life', 'is', 'too', 'short']

In [ ]:
b = "a:b:c:d"
b.split(':')
#괄호 안의 값을 구분자로 해서 문자열을 나누어 준다

In [1]:
#문자열이 알파벳으로만 구성되어 있는지 확인하기 - isalpha
s = "Python"
s.isalpha()

#영문 알파벳만 포함되어 있는 경우에만 True를 반환
#공백이나 숫자, 특수 문자가 포함되어 있으면 False를 반환

True

In [ ]:
#문자열이 숫자로만 구성되어 있는지 확인하기 - isdigit
s = "12345"
s.isdigit()

#문자열의 모든 문자가 숫자일 경우 True를 반환
#하나라도 숫자가 아닌 문자가 포함되어 있으면 False를 반환
#"1234a"는 알파벳 a가 포함되어 있어 False를 반환
#"12 34"는 숫자 사이에 공백이 있으므로 False를 반환

In [2]:
#문자열이 특정 문자(열)로 시작하는지 확인하기 - startswith
s = "Life is too short"
s.startswith("Life")

#지정한 문자열로 시작하면 True를 반환
#그렇지 않으면 False를 반환

True

In [3]:
#문자열이 특정 문자(열)로 끝나는지 확인하기 - endswith
s = "Life is too short"
s.endswith("short")

#지정한 문자열로 끝나면 True를 반환
#그렇지 않으면 False를 반환

True

문자열 관련 함수는 문자열 처리에서 사용 빈도가 매우 높고 유용

In [5]:
#리스트의 인덱싱(삼중 구조의 리스트)
a = [1, 2, ['a', 'b', ['Life', 'is']]]
a[2][2][0]

#리스트 a의 세 번째 요소인 리스트 ['a', 'b', ['Life', 'is']]에서
#세 번째 요소인 리스트 ['Life', 'is']의 첫 번째 요소
#리스트를 다중으로 중첩해서 사용하는 것은 혼란스럽기 때문에 자주 사용하지는 않는다

'Life'

In [6]:
#리스트의 슬라이싱
a = "12345"
a[0:2]

'12'

In [7]:
#리스트 더하기(+)
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [8]:
#리스트 반복하기(*)
a = [1, 2, 3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [9]:
#리스트 길이 구하기
a = [1, 2, 3]
len(a)

#len은 문자열, 리스트 외에 앞으로 배울 튜플과 딕셔너리에도 사용할 수 있는 함수
#실습에서 자주 사용하므로 잘 기억해 둬야함

3

In [10]:
#리스트의 값 수정하기
a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

In [11]:
#del을 사용해 리스트 요소 삭제
a = [1, 2, 3]
del a[1]
a

[1, 3]

In [12]:
#리스트의 요소 여러 개를 한꺼번에 삭제
a = [1, 2, 3, 4, 5]
del a[2:]
a

[1, 2]

In [15]:
#리스트에 요소 추가하기 - append
a = [1, 2, 3]
a.append(4)
a
#리스트 안에는 어떤 자료형도 추가할 수 있다
a.append([5, 6])
a

[1, 2, 3, 4, [5, 6]]

In [16]:
#리스트 정렬 - sort
a = ['a', 'c', 'b']
a.sort()
a

['a', 'b', 'c']

In [17]:
#리스트 뒤집기 - reverse
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

In [19]:
#인덱스 반환 - index
a = [1, 2, 3]
a.index(3)

#리스트 a에 있는 숫자 3의 위치는 a[2]이므로 2

2

In [20]:
#리스트에 요소 삽입 - insert
a = [1, 2, 3]
a.insert(0, 4)
a

#첫 번째 요소인 a[0] 위치에 값 4를 삽입

[4, 1, 2, 3]